export QYADR_PROFILE_ZSH='N'
export QYADR_ENV='arch'
export PLUG_INSTALL_FZF='Y'
export PLUG_INSTALL_ZSH_VIMTO='Y'
export PLUG_INSTALL_ZSH_AUTOSUGGESTIONS='Y'
export PLUG_INSTALL_ZSH_SYNTAX_HIGHLIGHTING='Y'
export PLUG_INSTALL_FZF_MARKS='Y'
export PLUG_INSTALL_ZSH_ABBREV_ALIAS='Y'